<mat-sidenav-container #nav>
  <!-- SideNav -->
  <mat-sidenav>
    <button mat-button>Bouton</button>
  </mat-sidenav>
  </mat-sidenav-container>
  
<!-- Toolbar -->
<mat-toolbar color="warn" style="justify-content: space-between;">
  <span>Logo</span>
  <button mat-button>Menu</button>
</mat-toolbar>

<!-- List -->
<mat-list>
  <mat-list-item>Salut</mat-list-item>
</mat-list>
<mat-selection-list #food>
  <mat-list-option color="warn" value="Pain">Pain</mat-list-option>
  <mat-list-option value="Burger">Burger</mat-list-option>
  <mat-list-option value="Pizza">Pizza</mat-list-option>
</mat-selection-list>

<!-- Grid list -->
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>


<form [formGroup]="form" class="container">

<!-- Form Field -->
<div>
  <mat-form-field>
    <mat-label floatLabel="always">Name</mat-label>
    <input #name matInput type="text" formControlName="input">
    <mat-hint align="end">{{name?.value?.length}}/10</mat-hint>
    <mat-error *ngIf="form.get('input')!.invalid">Veuillez renseigner votre nom</mat-error>
  </mat-form-field>

  <!-- Checkbox -->
<div>
  <label for="my-checkbox">
  <mat-checkbox formControlName="checkbox" aria-label="Checkbox title"></mat-checkbox>
  Majeur
</label>
</div>
</div>

<div>
  <!-- Radio -->
  <mat-radio-group formControlName="radio">
    <label for="Femme">
      <mat-radio-button value="Femme"></mat-radio-button>
      Femme
    </label>
    <label for="Homme">
      <mat-radio-button value="Homme"></mat-radio-button>
      Homme
    </label>
    </mat-radio-group>
</div>

<!-- Slide Toggle -->
<label>
  <mat-slide-toggle formControlName="toggle">    
  </mat-slide-toggle>
  Majeur
</label>

<div>
  <!-- Select -->
  <mat-form-field>
    <mat-select formControlName="select">
      <mat-option value="Pizza">Pizza</mat-option>
      <mat-option value="Burger">Burger</mat-option>
      <mat-option value="Sushi">Sushi</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Slider -->
<div>
  <mat-slider min="0" max="10">
    <input matSliderThumb formControlName="slider">
  </mat-slider>
</div>

<!-- DatePicker -->
<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<!-- Date Range Picker -->
<div>
  <mat-form-field>
    <mat-date-range-input [rangePicker]="range">
      <input matStartDate formControlName="start">
      <input matEndDate formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="range"></mat-datepicker-toggle>
    <mat-date-range-picker #range>

    </mat-date-range-picker>
  </mat-form-field>
</div>

<!-- Autocomplete -->
<div>
  <mat-form-field>
    <input matInput type="text" formControlName="autocomplete" placeholder="Ville" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<!-- Button -->
<div>
  <button mat-button (click)="nav.open()">Cliquez!</button><br>
  <button mat-button color="accent">Cliquez!</button><br>
  <button mat-button color="warn" [matMenuTriggerFor]="menu">Cliquez!</button><br>
  <button mat-button color="primary">Cliquez!</button><br>
  <button mat-fab>Cliquez!</button><br>
  <button mat-mini-fab>Cliquez!</button>
</div>

<!-- Menu -->
<div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="menu2">1</button>
    <button mat-menu-item>2</button>
    <button mat-menu-item>3</button>
  </mat-menu>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item>1</button>
    <button mat-menu-item>2</button>
    <button mat-menu-item>3</button>
  </mat-menu>
</div>



<pre>{{ form.value | json }}</pre>
</form>

